@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}

<div style="margin-top:60px;">
    <h1 class="mt-5">@ViewData["Title"]</h1>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crear un nuevo usuario.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Names"></label>
                <input asp-for="Input.Names" class="form-control" />
                <span asp-validation-for="Input.Names" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Surnames"></label>
                <input asp-for="Input.Surnames" class="form-control" />
                <span asp-validation-for="Input.Surnames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Dependence"></label>
                <input asp-for="Input.Dependence" class="form-control" />
                <span asp-validation-for="Input.Dependence" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2 mt-5">
        <section>
            <h4 style="margin-top:-50px;">Use otro servicio para registrarse.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div class="text-justify">
                        <p>
                            No hay servicios de autenticación externos configurados. Consulte <a href="https://go.microsoft.com/fwlink/?LinkID=532715"> este artículo </a>.
                            para obtener detalles sobre la configuración de esta aplicación ASP.NET para admitir el inicio de sesión a través de servicios externos.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
